*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
body {
  background-color: #f8f8f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerClass{
  margin-top: 10vh;
}

.bodyWrapper{
  width: 80%;
  margin: 0 auto;
}
#firstNumber, #secondNumber{
  border-radius: 10px;
  padding: 5%;
  height: 3vh;
}
.mainWrapper{
  background-color: beige;
  height: 70vh;
  width: 30vw;
  border-style: solid;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainWrapper h6{
  margin-top: 5vh;
}
.buttonGroup{
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  width: 20vw;
}
.buttonGroup button{
  flex: 1;
  border-radius: 10px;
  margin: 5%;
  padding: 5%;
  background-color: rgb(254, 249, 235);
}
.mainWrapper h3{
  margin-top: 5vh;
  border-style: solid;
  padding: 10% 20%;
  border-radius: 10px;
  width: 80%;
  height: 15%;
  overflow-wrap: break-word;
  background-color: #f8f8f2;
}

.footer{
  text-align: center;
  font-size: 12px;
  margin-top: 5vh;
}
@media screen and (max-width: 900px){  
  .headerClass{
    text-align: center;
  }
  .bodyWrapper{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 245, 230);
    border-radius: 0;
  }
  .buttonGroup{
    width: 40vw;
  }
  .mainWrapper{
    margin-top: 0vh;
    width: 100%;
    border-style: none;
  }
  .mainWrapper h3{
    margin-top: 5vh;
    border-style: solid;
    padding: 2% 5%;
    border-radius: 10px;
    width: 50%;
    height: 15%;
    overflow-wrap: break-word;
    background-color: #f8f8f2;
  }
  .centralBody{
    display: block;
  }
  #catagoryTitle{
    margin-top: 2vh;
    margin-left: 5vw;
  }
  .footer{
  }
}