*{
  margin:0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;

}
.headerClass{
  margin-top: 5vh;
}
.bodyWrapper{
  border-style: solid;
  border-radius: 20px;
  padding: 2%;

  width: 80vw;
  margin: 0 auto;
  background-color: rgb(245, 245, 230);
}

.navbar{
  width: 25%;
  margin-right: 1vw;
}

.navbar ul{
  justify-self: center;
  list-style-type:none;
  padding-left: 0;
  width: 80%;
}
.navbar a{
  display: block;  
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5%;
}

.navbar li{
  margin-top: 5vh;
}

#lastNav{
  margin-bottom: 5vh;
}

.mainWrapper{
  margin-top: 3vh;
  width: 80%;
}

.mainWrapper ul{
  list-style-type: none;
}
.mainWrapper li{
  margin-top: 2vh;
  border-style: solid;
  border-radius: 8px;
  padding: 2%;
}

.multiButton{
  display: flex;
  justify-content: end;
}

#githubLink{
  display: inline-block;
  border-style: solid;
  padding: 2%;
  border-radius: 20px;
  margin-top: 5%;
  text-decoration: none;
  color: black;
}

#websiteLink{
  display: inline-block;
  border-style: solid;
  padding: 2%;
  border-radius: 20px;
  margin-top: 5%;
  text-decoration: none;
  color: black;
  margin-right: 1vw;
}
.centralBody{
  display: flex;
}
.footer{
  margin-top: 10vh;
  margin-bottom: 5vh;
}
#catagoryTitle{
  margin-top: 5vh;
}

@media screen and (max-width: 1000px){  
  .headerClass{
    text-align: center;
  }
  .bodyWrapper{
    margin: 0;
    width: 100%;
    border-radius: 0;

  }
  .navbar{
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .navbar ul{
    list-style-type:none;
    padding-left: 0;
    display: flex;  
    justify-content: space-evenly;
    width: 100%;
  }
  .navbar a{
    width: 80%;
    font-size: calc(2vw - 2px);
  }
  .navbar li{
    flex: 1; /* makes the buttons same sized src=w3school*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh auto;
  }
  #lastNav{
    margin: 2vh auto;
  }
  .mainWrapper{
    margin-top: 0vh;
    width: 100%;
  }
  .mainWrapper ul{
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }
  .centralBody{
    display: block;
  }
  .footer{
    margin-left: 7%;
  }
}