*{
  margin:0;
  box-sizing: border-box;
}

.bodyWrapper{
  width: 80vw;
  margin: 0 auto;
}
.headerClass{
  margin-top: 10vh;
}
.navbar{
  width: 25%;
  margin-right: 1vw;
}

.navbar ul{
  justify-self: center;
  list-style-type:none;
  padding-left: 0;
  width: 80%;
}
.navbar a{
  display: block;  
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5%;
}

.navbar li{
  margin-top: 5vh;
}

#lastNav{
  margin-bottom: 5vh;
}

.mainWrapper{
  text-align: center;
}


.centralBody{
  display: flex;
}

.footer{
  margin-top: 10vh;
}

@media screen and (max-width: 2000px){
  .navbar{
    width: 10vw;
  }
}

@media screen and (max-width: 1200px){
  .navbar{
    width: 15vw;
  }
}


@media screen and (max-width: 1000px){  
  .headerClass{
    text-align: center;
  }
  .bodyWrapper{
    margin: 0;
    width: 100%;
  }
  .navbar{
    width: 100vw;
    margin: 0;
    justify-content: center;

  }
  .navbar ul{
    list-style-type:none;
    padding-left: 0;
    display: flex;  
    justify-content: space-evenly;
  }
  .navbar a{
    width: 80%;
    font-size: calc(2vw - 2px);
  }
  .navbar li{
    flex: 1; /* makes the buttons same sized src=w3school*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh auto;
  }
  #lastNav{
    margin: 2vh auto;
  }
  .centralBody{
    display: block;
  }
  .mainWrapper img{
    width: 50%;
  }
  .footer{
    margin-left: 7%;
  }
}