*{
  margin:0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
.headerClass{
  background-color: #e9edc9;
  border-radius: 10px;
  padding: 1%;
  height: 15vh;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.bodyWrapper{
  border-radius: 20px;
  width: 80vw;
  margin: 0 auto;
  background-color: #fefae0;
}

.navbar{
  width: 25%;
  margin-right: 1vw;
  background-color: #faedcd;
}

.navbar ul{
  justify-self: center;
  list-style-type:none;
  padding-left: 0;
  width: 80%;
}
.navbar a{
  display: block;  
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5%;
}

.navbar li{
  margin-top: 5vh;
}

#lastNav{
  margin-bottom: 5vh;
}

.mainWrapper{
  margin-top: 3vh;
  width: 80%;
  padding: 2%;
}

.mainWrapper ul{
  list-style: none;
}

.mainWrapper li{
  border-style: solid;
  border-radius: 5px;
  padding: 5%;
  margin-top: 5vh;
}

#catagoryTitle{
  margin-top: 5vh;
}
.centralBody{
  display: flex;
}
.footer{
  background-color: #ccd5ae;
  padding: 2%;
  border-radius: 0 0 10px 10px;
}



@media screen and (max-width: 750px){  
  .headerClass{
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  .bodyWrapper{
    margin: 0;
    width: 100%;
    border-radius: 0;
    font-size: 12px;

  }
  .navbar{
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .navbar ul{
    list-style-type:none;
    padding-left: 0;
    display: flex;  
    justify-content: space-evenly;
    width: 100%;
  }
  .navbar a{
    width: 80%;
    font-size: calc(2vw - 2px);
  }
  .navbar li{
    flex: 1; /* makes the buttons same sized src=w3school*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh auto;
  }
  #lastNav{
    margin: 2vh auto;
  }
  .mainWrapper{
    margin-top: 0vh;
    width: 100%;
    border-width: 2px;

  }
  .mainWrapper li{
    margin-top: 2vh;
  }
  .mainWrapper ul{
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }
  .centralBody{
    display: block;
  }
  #catagoryTitle{
    margin-top: 2vh;
    margin-left: 5vw;
  }
  .footer{
  }
}